fastapi==0.114.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.4.0
boto3==1.35.19
Pillow==10.4.0
numpy==2.1.2
safetensors==0.4.5
accelerate==0.34.2
diffusers==0.30.3
transformers==4.45.2
imageio==2.36.0
imageio-ffmpeg==0.5.1
opencv-python-headless==4.10.0.84
ffmpeg-python==0.2.0
python-multipart==0.0.12
einops==0.8.0
